.layout {
    width: auto;
    height: 600px;
    padding-top: 100px;
}
.layout h1 {
    text-align: center;

}
.form {
    background-color: aliceblue;
    width: 60%;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px 10px 50px 10px;
}
.form label {
    margin: 2px;
    font-size: 16px;
}
.form label span {
    color: red;
}
#forminput {
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

#formbutton {
    margin: 5px;
    padding-top: 20px;
    text-align: center;
}

.errordiv {
    margin: 10px;
    margin-left: 50px;
    margin-right: 50px;
}
.errordiv p {
    color: red;
    margin: 1px;
    margin-left: 5px;
}