<div class="layout">

    <form class="form" [formGroup]="forgotform" novalidate>
        <h1><strong>Forgot Password</strong></h1>
        <div id="forminput">
            <label>Enter Email<span>*</span></label>
            <input class="form-control" type="text" name="email" id="email" placeholder="Enter Email"
                formControlName="email">
        </div>
        <div class="error">
            <ng-container *ngFor="let msg of message_error.email">
                <div class="errordiv"
                    *ngIf="forgotform.get('email')?.hasError(msg.type) && (forgotform.get('email')?.dirty || forgotform.get('email')?.touched)">
                    <p class="errormsg">{{msg.message}}</p>
                </div>
            </ng-container>
        </div>

        <div *ngIf="user">
            <form [formGroup]="forgotform">
                <div id="forminput">
                    <label>New Password<span>*</span></label>
                    <input class="form-control" type="password" #passw name="password" id="password"
                        placeholder="New Password" formControlName="password">
                </div>
                <div class="error">
                    <ng-container *ngFor="let msg of message_error.password">
                        <div class="errordiv"
                            *ngIf="forgotform.get('password')?.hasError(msg.type) && (forgotform.get('password')?.dirty || forgotform.get('password')?.touched)">
                            <p class="errormsg">{{msg.message}}</p>
                        </div>
                    </ng-container>
                </div>

                <div id="forminput">
                    <label>Confirm Password<span>*</span></label>
                    <input class="form-control" type="password" #cpassw name="cpassword" id="cpassword"
                        placeholder="Confirm Password" formControlName="cpassword">
                </div>
                <div class="error">
                    <ng-container *ngFor="let msg of message_error.cpassword">
                        <div class="errordiv"
                            *ngIf="(forgotform.get('cpassword')?.hasError(msg.type) && (forgotform.get('cpassword')?.dirty || forgotform.get('cpassword')?.touched)); else elseblock">
                            <p class="errormsg">{{msg.message}}</p>
                        </div>
                    </ng-container>
                    <ng-template #elseblock>
                        <div class="errordiv"
                            *ngIf="!(passw.value==cpassw.value) && (forgotform.get('cpassword')?.dirty || forgotform.get('cpassword')?.touched)">
                            <p id="errormsg">Password does not match</p>
                        </div>
                    </ng-template>
                </div>
            </form>
        </div>

        <div id="formbutton" *ngIf="!user">
            <button type="button" class=" btn btn-success" (click)="submit()">Submit</button>
        </div>
        <div id="formbutton" *ngIf="user">
            <button type="button" class=" btn btn-success" (click)="submit1()">Submit</button>
        </div>
    </form>
</div>